@{
    ViewBag.Title = "AddAwardsIndex";
    Layout = "~/Views/Shared/AdminLayout .cshtml";
}

<div class="col-lg-6">
<center>
    <div class="table table-striped" style="background: linear-gradient( #fff, #ccc );"AddAwards></div>
</center>
<input type="hidden" id="hdnid" />

<label>Enter Award Title:</label>
<input type="text" id="txt" placeholder="Best Ayurveda Award " class="form-control" />
<br />

<label>Enter Award Details:</label>
<input type="text" id="txt" class="form-control" />
<br />

<label>Image1:</label>
<input type="file" id="file1" class="form-control" />
<input type="button" value="Upload" class="btn btn-danger" /><br/>

<label>Image2:</label>
<input type="file" id="file1" class="form-control" />
<input type="button" value="Upload" class="btn btn-danger" />

</div>
